.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .task.completed span {
    text-decoration: line-through;
    color: #888;
  }
  
  .task input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .delete-button{
    margin-left: auto;
    cursor: pointer;
  }
  .title{
    color: #ffffff;
  }